* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e5e5e5;
    font-family: 'Poppins';
}

.main-bar {
    background: linear-gradient(to left, #071a52 80%, #071a52 5%) !important;
    display: flow-root;
}

#check {
    display: none;
}

.logo-header {
    display: table;
    float: left;
    vertical-align: middle;
    padding: 0;
    color: #6FB1;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    width: 180px;
    height: 68px;
    position: relative;
    z-index: 9;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.logo-header:before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 100%;
    z-index: -1;
    right: -50px;
    width: 80%;
    transform: skew(30deg);
    background: linear-gradient(to left, #88bef5 80%, #88bef5 5%);
    border-radius: 10px;
}

.logo-header:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 100%;
    z-index: -1;
    right: 10px;
    width: 1000px;
    background: linear-gradient(to left, #88bef5 80%, #88bef5 5%) !important;
}

.logo-header a {
    color: #f5f7f8;
    font-size: 33px;
    font-weight: 600;
    line-height: 70px;
    text-decoration: none;
}

ul {
    float: right;
}

nav ul li {
    display: inline-block;
    line-height: 70px;
    border-radius: 14px;
}

nav li.active a {
    color: #020101;
    background-color: #88bef5;
    border-radius: 14px;
}

nav li a {
    padding: 15px 25px;
    border: 0;
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    opacity: 1;
    text-decoration: none;
    transition: all 0.5s;
    border-radius: 14px;
}

nav li:hover a {
    color: #020101;
    background-color: #88bef5;
    border-radius: 14px;
}

@media(max-width:1250px) {
    .main-bar {
        padding: 0 2%;
    }
    nav li a {
        padding: 15px 20px;
    }
}

.checkbtn {
    float: right;
    width: 20px;
    height: 18px;
    position: relative;
    transform: rotate(0);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    top: 25px;
}

.checkbtn span {
    background-color: #fff;
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0);
    transition: 0.25s ease-in-out;
}

.checkbtn span:nth-child(1) {
    top: 0;
}

.checkbtn span:nth-child(2) {
    top: 7px;
}

.checkbtn span:nth-child(3) {
    top: 14px;
}

@media(max-width:992px) {
    .main-bar {
        padding: 0 10%;
    }
    .checkbtn {
        display: block;
        margin-right: 40px;
    }
    nav ul {
        position: fixed;
        width: 350px;
        height: 100vh;
        background: #22272b;
        top: 68px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    #check:checked~ul {
        left: 0;
    }
}

@media(max-width:560px) {
    nav ul {
        display: block;
        width: 100%;
    }
}

.blue {
    background: linear-gradient(to left, #071a52 80%, #071a52 5%);
    color: #ffffff;
}